PORT=3000
DATABASE_URL=
REDIS_URL=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=1440m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=1d
OTP_EXPIRY_IN_SECONDS=300
OTP_MAX_ATTEMPTS=5
CLIENT_URL=https://your-app.vercel.app
GMAIL_USER=
GMAIL_APP_PASSWORD=
